hody {
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
}

.top-container {
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: 80%;
    padding-top: 30px;
    background-color: #161616;
}

.top-banner {
    height: auto;
    width: auto;
    margin-right: 80px;

}

.container {
    height: auto;
    width: auto;
    color: white;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-left: 50px;
}

.top-title {
    font-size: 50px;
}

.top-button {
    width: 100px;
    border-radius: 5px;
    padding: 10px;
    background-color: red;
    text-align: center;
}

/* --------------------------------------
-------------End the top aria------------
----------------------------------------- */

.content-aria {
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    width: 90%;
}

#Upcoming-match {
    background-color: red;
    color: white;
}

.left-content {
    height: 220px;
    margin: 10px;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
}

.left-content-aria {
    width: 180px;
    height: 25px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 800;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    padding-top: 10px;
}

/* --------------------------------------
-------------End left contant------------
----------------------------------------- */
.right-main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.right-content {
    height: auto;
    width: 270px;
    border: 1px solid #E8E8E8;
    border-radius: 20px;
    margin: 10px;
}

.right-content-top {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.right-content-top img {
    width: 270px;
}

.right-content-bottom {
    text-align: left;
    padding-left: 10px;
    padding-top: 20px;
}

button {
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid;
}

.right-content-bottom p {
    font-weight: 600;
    font-size: 20px;
}

.fa-solid {
    margin-right: 10px;
    margin-bottom: 20px;
}

.right-content-bottom img {
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: -8px;
}

/* --------------------------------------
-------------End right contant------------
----------------------------------------- */

.view-nav {
    height: 30px;
    margin: auto;
    margin-top: 50px;
    width: 120px;
    padding: 20px;
    text-align: center;
    background-color: red;
    border-radius: 15px;
    color: white;
    font-size: 25px;
}

footer {
    height: 300px;
    width: 100%;
    background-color: #161616;
    color: white;
}

.footer-h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
}

hr {
    width: 70%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-nav {
    display: flex;
    justify-content: center;
    color: #B9B9B9;
}

.footer-nav p {
    margin-left: 40px;
    color: #B9B9B9;

}

/* --------------------------------------
-------------Media Queries------------
----------------------------------------- */

@media only screen and (max-width:688px) {

    body {
        margin: auto;
    }

    .top-container {
        width: 100%;
        flex-direction: column;
    }

    .container {
        grid-template-columns: 1, 1fr;

    }

    .content-aria {
        flex-direction: column;
        width: 100%;
        margin: auto;
    }

    .left-content {
        width: 100%;
        background-color: white;
    }

    .right-main-container {
        width: 100%;
        display: inline;

    }

    .right-content {
        display: flex;
        flex-direction: column;
    }

    .view-nav {
        display: none;
    }

    footer {
        height: auto;
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}

/* --------------------------------------
-------------Ipad Queries------------
----------------------------------------- */

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .content-aria {
        flex-direction: column;
        margin: auto;

    }

    .left-content {
        display: flex;
        background-color: white;
        height: auto;
    }

    .right-main-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

/* --------------------------------------
-------------Laptop Queries------------
----------------------------------------- */
@media only screen and (min-width: 992px) and (max-width: 1325px) {

    .view-nav {
        display: none;
    }
}