body {
    font-family: 'Poppins', sans-serif;
}

.container,
.main {
    width: 70%;
    height: 290px;
    margin: 20px auto;
    padding: 50px;
    color: white;
    background-color: #161616;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    grid-row-gap: 26px;
    border-radius: 30px;
}

.top-header {
    font-size: 50px;
    margin-top: -15px;
}

.heder-content-left {
    align-items: flex-end;
    padding-left: 100px;
}

.top-button {
    background-color: #DD0000;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 5px;
}

/* --------------------------main content (left and raight)----------------- */

.main-container {
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 260px;
    height: 250px;
    margin: 10px;
    margin-top: -510px;
    background: #161616;
    border-radius: 10px;
}

.content-left {
    background-color: #161616;
    width: 250px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
}

.left-aria {
    flex-direction: column;
    border: 1px solid blue;
    margin: 10px 15px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;

}

#left-active-aria {
    background-color: #DD0000;
    color: white;
}

/* end the left content */

.box-2 {
    height: auto;
    margin: 10px;
    margin-top: 60px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 26px;
}

#box-2 {
    flex-grow: 2;
}

.course {
    border: 1px solid;
    border-radius: 5px;
    margin: 10px 10px;
}

.course-duration img {
    margin-right: 10px;
}


.course-banner img {
    height: auto;
    width: 230px;
}

.coures-title {
    margin-left: 20px;
    border: 2px solid;
    width: 100px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.course-author {
    text-align: left;
    font-weight: 500;
    margin-left: 20px;
}

.course-info,
.course-duration {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    align-items: center;
    padding: 10px;
}

/* end the right content */
footer {
    margin: 0 auto;
    height: 400px;
    width: 100%;
    background-color: #161616;
    color: white;
}

footer h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
}

hr {
    width: 90%;
    height: 0px;
    color: #FFFFFF;
}

.footer-nav {
    display: flex;
    justify-content: center;
    text-align: center;

}

.footer-pera {
    margin-left: 30px;
    color: #B9B9B9;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}