body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 70%;
    height: 290px;
    margin: 20px auto;
    padding: 50px;
    color: white;
    background-color: #161616;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    grid-row-gap: 26px;
    border-radius: 30px;
    justify-content: space-between;
}

.top-header {
    font-size: 50px;
    margin-top: -15px;
}

.heder-content-left {
    align-items: flex-end;
    padding-left: 100px;
}

.top-button {
    background-color: #DD0000;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 5px;
}

/* --------------------------main content (left and raight)----------------- */
main {
    margin-top: 100px;
}

.content-left {
    background-color: #161616;
    width: 250px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    align-items: center;
    align-content: center;
    margin-left: 140px;
    border-radius: 5px;
}

.left-aria {
    flex-direction: column;
    border: 1px solid blue;
    margin: 10px 15px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;

}

#left-active-aria {
    background-color: #DD0000;
    color: white;
}